

.body-game {
  display: flex;             /* Habilita o flex container */
  justify-content: center;   /* Centraliza horizontalmente */
  align-items: center;       /* Centraliza verticalmente */
  padding: 0;
  margin: 0;
}

.title-game {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  color: #2A2A2A;
  font-size: 30px;
  line-height: 37px;

}

.p-intro-game {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #2A2A2A;
  line-height: 32px;
  font-weight: normal;
  font-style: normal;
}

.tela-interacao {
  background-image: url(../img/bg-virgula.png);
  background-repeat: repeat;
  justify-content: center;
  text-align: center;
  width: 900px;
}

.status {
  padding-inline: 5%;
  display: flex;             
  justify-content: center;  
  align-items: center; 
}

.bodyJogo {
  text-align: center;
}

.zona-soltar {
  min-height: 185px;
  align-content: center;
  text-align: center;
  width: 100%;
  padding-inline: 5%;
}


.drop-zone {
  display: inline-block;
  min-width: 29.2px;
  min-height: 35.5px;
  vertical-align: middle;
  background-color: #fff0;
  border-radius: 10px;
}


.word {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #2A2A2A;
  line-height: 32px;
  font-weight: normal;
  font-style: normal;
  background-color: #f0e2e2;
  padding: 10px;
  border-radius: 10px;
  line-height: 58.6px;
}


.areaVirgulas {
  padding: 3%;
  background-color: #06415e;
  width: 100%;
}

.virgula {
  display: inline-block;
  cursor: move;
  font-weight: bold;
  font-size: 2rem;
  margin: 0 5px;
  color: black;
  border-radius: 10px;
  width: 37px;
  height: 52px;
}

.virgula.draggable.ui-draggable.ui-draggable-handle {
  background-color: #e2a223;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.84);
}


.virgula-correta {
  background-color: #6cc66a !important;
  pointer-events: none;
  padding: 10px;
}

.virgula-errada {
  background-color: red !important;
  padding-inline: 10px;
  animation: pulse 0.6s infinite;
  animation-direction: alternate;
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}


#proximaFrase {
  background: #7da3c6;
  border: 5px solid #06415e;
  color: white;
  border-radius: 10px;
  padding: 10px 30px;
  font-size: 23px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.84);
  transition: all 0.3s ease;
  font-weight: bold;
  margin-top: 2%;
}

#proximaFrase:hover {
  background: #06415e;
  color: white;
  border: 5px solid #7da3c6;
  transform: scale(0.9);
}


#proximaFrase {
  display: none;
  margin-bottom: 28px;
}

.btn-close-obj {
  background: #7da3c6;
  border: 5px solid #06415e;
  color: white;
  border-radius: 10px;
  padding: 10px 30px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.84);
  transition: all 0.3s ease;
  font-weight: bold;
  margin-top: 2%;
}

.btn-close-obj:hover {
  background: #06415e;
  color: white;
  border: 5px solid #7da3c6;
  transform: scale(0.9);
}

.header-modal-game {
  background-color: #ffbd59;
}

.modal-title {
  font-family: 'Roboto', sans-serif;
  color: #2A2A2A;
  font-size: 30px;
  line-height: 37px;
  font-weight: bold;
  font-style: normal;
}

.textoFeedbackFinal {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  color: #2A2A2A;
  line-height: 32px;
  font-weight: normal;
  font-style: normal;
}









.modal-header,
.modal-footer {
  border: none;
}

.modal-footer {
  align-items: center;
  text-align: center;
}

.modal-content {
  background-color: #daf2f2;
}


.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
  font-size: 23px;
  margin: 2%;
  margin-top: 4%;
  text-align: center;
}


.disabled {
  pointer-events: none;
  opacity: 0.5;
}


/**********************************************************/
/******************* vire o celular ***********************/
/**********************************************************/

.p-paisagem {
  color: white;
  text-align: center;
}

.img-paisagem {
  max-width: 70% !important;
  height: auto;
  display: block;
}

.modo-smart {
  display: none;
}

@media only screen and (orientation: portrait) {
  .modo-smart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #5b2885;
    z-index: 9999999999999999999;
  }
}